<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/** @var $block \Magento\Catalog\Block\Product\View */
?>
<?php
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$product = $objectManager->get('Magento\Framework\Registry')->registry('current_product');//get current product

$customerData = $this->getLayout()
    ->createBlock('Plumrocket\Callforprice\Block\Product')
    ->setTemplate('Plumrocket_Callforprice::catalog/product/view/addtocart.phtml')
    ->getUser();


//var_dump($customerData);die;

?>
<?php $buttonTitle = __('Call for price'); ?>
<div class="box-tocart">
    <div class="fieldset">
        <div class="actions">
            <button type="button"
                    title="<?= /* @escapeNotVerified */
                    $buttonTitle ?>"
                    class="action primary tocart"
                    id="product-addtocart-button">
                    <span><?= /* @escapeNotVerified */
                        $buttonTitle ?></span>
            </button>
            <?= $block->getChildHtml('', true) ?>
        </div>
    </div>
</div>
<script type="text/javascript">
    require([
            'jquery',
            'Magento_Ui/js/modal/alert'
        ],
        function ($, alert) {
            $('.actions').on('click', 'button#product-addtocart-button', function (event) {
                alert({
                    title: "REQUEST PRICE DETAILS",
                    content:
                    '    <div class="field">\n' +
                    '        <label for="user_name" class="label">\n' +
                    '            <span>Your Name</span>\n' +
                    '            <span class="span">*</span>\n' +
                    '        </label>\n' +
                    '        <input type="text" name="Name" id="user_name" value="<?php if (isset($customerData['firstname']) && isset($customerData['lastname'])) {
                        echo $customerData['firstname'] . ' ' . $customerData['lastname'];
                    };?>" title="" required>' +
                    '        <input type="hidden" name="Product" id="product_id" value="<?php echo $product->getId();?>" title="" required>' +
                    '        <label for="email_address" class="label">\n' +
                    '            <span>Email Address</span>\n' +
                    '            <span class="span">*</span>\n' +
                    '        </label>\n' +
                    '        <input type="email" name="email" autocomplete="email" id="email_address" value="<?php if (isset($customerData['email'])) {
                        echo $customerData['email'];
                    }?>" title="" required>\n' +
                    '        <label for="phone" class="label">\n' +
                    '            <span>Phone Number</span>\n' +
                    '            <span class="span">*</span>\n' +
                    '        </label>\n' +
                    '        <input type="text" name="phone" id="phone" value="" title="">\n' +
                    '        <label for="message" class="label">\n' +
                    '            <span>Message (optional)</span>\n' +
                    '            <span class="span">*</span>\n' +
                    '        </label>\n' +
                    '        <textarea name="message" id="message" cols="30" rows="10" required></textarea>\n' +
                    '    </div>\n' +
                    '    <br/>',
                    buttons: [{
                        text: $.mage.__('SUBMIT REQUEST'),
                        class: 'action-secondary action-dismiss action submit primary',

                        /**
                         * Click handler.
                         */
                        click: function (event) {
                                this.closeModal(event);
                        }
                    }]
                })
            })
        }
    );
</script>
<script>
    require(['jquery'], function () {
        jQuery('body').on('click', '.action-secondary', function () {
            var user_name = document.getElementById("user_name").value;
            var product_id = document.getElementById("product_id").value;
            var email_address = document.getElementById("email_address").value;
            var phone = document.getElementById("phone").value;
            var message = document.getElementById("message").value;

            var url = "<?php echo $block->getBaseUrl() . 'plumrocket_callforprice/index/save' ?>//";

            if (
                user_name
                && product_id
                && email_address
                && phone
                && message
            ) {
                jQuery.ajax({
                    url: url,
                    type: "POST",
                    data: {
                        user_name: user_name,
                        product_id: product_id,
                        email_address: email_address,
                        phone: phone,
                        message: message
                    },
                    showLoader: true,
                    cache: false,
                    success: function (data) {
                        jQuery(".breadcrumbs").append("<div style=\"background: #67b168\"><p>Thank you! We received your request.</p></div>");
                    },
                });
                return false;
            }
        });
    });
</script>
</form>
</div>
